{% extends 'main/base.html' %}
{% block content %}

<script id="name_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.nombre }}
            <label style="text-align: center" for='nombre'>Ingresa tu nombre</label>
        </div>
    </div>
</script>

<script id="avatar_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            Ingresa tu avatar
            {{ form.avatar }}
        </div>
    </div>
</script>
    <script id="posicion_input_html" type="text/template">
        <div id="map"></div>
        <input type="text" id="lat" readonly="yes" hidden>
            <input type="text" id="lng" readonly="yes" hidden>
</script>
<script id="email_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.email }}
            <label style="text-align: center" for='email'>Ingresa tu e-mail</label>
        </div>
    </div>
</script>

<script id="password_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.password }}
            <label style="text-align: center" for='password'>Ingresa tu contraseña</label>
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.password2 }}
            <label style="text-align: center" for='password2'>Repite tu contraseña</label>
        </div>
    </div>
</script>

<script id="time_input_html" type="text/template">
<div>
              <div class="col s6 center-align">
                Hora apertura
              </div>
              <div class="col s6 center-align">
                Hora cierre
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">alarm</i>
                {{ form.horaIni }}
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">alarm</i>
                {{ form.horaFin }}
              </div>
            </div>
</script>

<script id="payment_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            Seleccione sus formas de pago:

                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" name="efectivo" checked="checked" />
                    <label for="filled-in-box">Efectivo</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box2" name="credito" checked="checked" />
                    <label for="filled-in-box2">Tarjeta de Crédito</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box3" name="debito" checked="checked" />
                    <label for="filled-in-box3">Tarjeta de Débito</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box4" name="junaeb" checked="checked" />
                    <label for="filled-in-box4">Tarjeta Junaeb</label>
                </p>

        </div>
    </div>
</script>
<script>
    $(document).ready(function() {
        $('select').material_select();
        $("#id_tipo").change(function() {
            var htmlString = "";
            var userType = $(this).val();
            if(userType!=0){
                htmlString += $("#name_input_html").html();
                htmlString += $("#email_input_html").html();
                htmlString += $("#avatar_input_html").html();
                htmlString += $("#password_input_html").html();
                if(userType != 3){
                    if(userType == 1){
                        htmlString += $("#time_input_html").html();
                    }
                    htmlString += $("#payment_input_html").html();
                }
            }
            $("#customFormArea").html(htmlString);

        });
    });
</script>

<div class="section"></div>

<main>

    <div class="section"></div>

    <h5 class="teal-text" style="text-align: center;">¡Regístrate!</h5>

    <div class="section"></div>

    <div class="container">

        <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12 m12" method="post" action="/main/registration/" enctype="multipart/form-data">{% csrf_token %}

                <div class="input-field col s12 m12">
                    {{ form.tipo }}
                    <label>Tipo de Usuario</label>
                </div>

                <div class="section" id="customFormArea"></div>

                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 m4 l8 btn btn-large waves-effect teal'>Registrarse</button>
                </div>

            </form>
        </div>
    </div>
    <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a></a><a href="{% url 'login' %}">Inicia sesión</a></div>


    <div class="section"></div>
    <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <style>#map{ width:700px; height: 500px; }</style>
{% endblock %}
